doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    //- link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.Header
        .inner
          .Header__PrimaryNav
            a(href="/") Logo
            //- nav
              each item in h.menu
                li
                  a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'is-active' : ''))
                    != h.icon(item.icon)
                    span #{item.title}
          .Header__SecondNav
            if user
              .Header--Account
                .hello Hi #{user.first_name} !
                .buttons-group
                  a(href="/account" class="button hollow") Account
                  a(href="/logout" class="button primary") Logout
                img(class="avatar" src=user.photo_url)
            else
              .Header--Login
                .buttons-group
                  a(href="/login" class="button hollow") Log in
                  a(href="/signup" class="button primary") Sign up

    //- block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    block content

    block scripts
      //- script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
